<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.users.mapper.LikeBookMapper">  

	<insert id="insertLikeStore">
	INSERT INTO LIKE_STORES (
	    LS_IDX,
	    STORE_IDX,
	    USER_IDX
	) VALUES (
	    LIKE_STORES_SEQ.NEXTVAL,
	    #{store_idx},
	    #{user_idx}
	)
	</insert>
    
    <select id="getLikeStoreCount">
    SELECT COUNT(LS_IDX)
	FROM LIKE_STORES
	WHERE  STORE_IDX = #{store_idx}
    </select>
	
    <select id="getIsIdx">
    SELECT LS_IDX
	FROM LIKE_STORES
	WHERE  STORE_IDX = #{store_idx} AND USER_IDX = #{user_idx}   
    </select>

   <delete id="deleteLikeStore">
     DELETE FROM LIKE_STORES
     WHERE LS_IDX = #{ls_idx}  
   </delete>
   
   <select id="getLikeReviewCount">
    SELECT  COUNT(LR_IDX)
	FROM  LIKE_REVIEWS
	WHERE  REVIEW_IDX = #{review_idx}
   </select>
   
   <select id="getLrIdx">
    SELECT LR_IDX
	FROM LIKE_REVIEWS
	WHERE  REVIEW_IDX = #{review_idx} AND USER_IDX = #{user_idx}    	
    </select>
    
    <insert id="insertLikeReview">
    INSERT INTO LIKE_REVIEWS (
    USER_IDX,
    REVIEW_IDX,
    LR_IDX
    ) VALUES (
    #{user_idx},
    #{review_idx},
    LIKE_REVIEWS_SEQ.NEXTVAL )
    </insert>
    
    <delete id="deleteLikeReview">
    DELETE FROM LIKE_REVIEWS
    WHERE  LR_IDX = #{lr_idx}
    </delete>


  <select id="getLikeReviewCountR">
    SELECT  COUNT(LR_IDX)
	FROM  LIKE_REVIEWS
	WHERE  REVIEW_IDX = #{review_idx}
  
  </select>

	 <select id="getBookmarkIdx">
	 SELECT BOOKMARK_IDX
	 FROM BOOKMARKS
	 WHERE STORE_IDX = #{store_idx} AND user_idX = #{user_idx} 
	 </select>
 
    <insert id="insertBook">
	 INSERT INTO BOOKMARKS (
	    BOOKMARK_IDX,
	    USER_IDX,
	    STORE_IDX
	) VALUES (
	    BOOKMARKS_SEQ.NEXTVAL,
	    #{user_idx},
	    #{store_idx}
	)
    </insert>
    
    <delete id="deleteBook">
    DELETE FROM BOOKMARKS
    WHERE  BOOKMARK_IDX = #{bookmark_idx}  
    </delete>
    
    <delete id="deleteBookStable">
    DELETE FROM BOOKMARKS
    WHERE  STORE_IDX = #{store_idx}  AND USER_IDX = #{user_idx} 
    </delete>

</mapper>

















