<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.admin.mapper.StoreMapper">

	<select id="getStoreListByCity" resultType="map">
		SELECT
		CASE
		WHEN ADDRESS LIKE '서울%' THEN '서울'
		WHEN ADDRESS LIKE '부산%' THEN '부산'
		WHEN ADDRESS LIKE '대구%' THEN '대구'
		WHEN ADDRESS LIKE '광주%' THEN '광주'
		WHEN ADDRESS LIKE '인천%' THEN '인천'
		WHEN ADDRESS LIKE '울산%' THEN '울산'
		WHEN ADDRESS LIKE '대전%' THEN '대전'
		WHEN ADDRESS LIKE '경기%' THEN '경기'
		WHEN ADDRESS LIKE '강원%' THEN '강원'
		WHEN ADDRESS LIKE '충청북도%' OR ADDRESS LIKE '충북%' THEN '충북'
		WHEN ADDRESS LIKE '충청남도%' OR ADDRESS LIKE '충남%' THEN '충남'
		WHEN ADDRESS LIKE '전라북도%' OR ADDRESS LIKE '전북%' THEN '전북'
		WHEN ADDRESS LIKE '전라남도%' OR ADDRESS LIKE '전남%' THEN '전남'
		WHEN ADDRESS LIKE '경상북도%' OR ADDRESS LIKE '경북%' THEN '경북'
		WHEN ADDRESS LIKE '경상남도%' OR ADDRESS LIKE '경남%' THEN '경남'
		WHEN ADDRESS LIKE '제주%' THEN '제주'
		ELSE '기타' -- 기본값 추가
		END AS city,
		COUNT(*) AS store_count
		FROM STORES_DETAIL
		GROUP BY
		CASE
		WHEN ADDRESS LIKE '서울%' THEN '서울'
		WHEN ADDRESS LIKE '부산%' THEN '부산'
		WHEN ADDRESS LIKE '대구%' THEN '대구'
		WHEN ADDRESS LIKE '광주%' THEN '광주'
		WHEN ADDRESS LIKE '인천%' THEN '인천'
		WHEN ADDRESS LIKE '울산%' THEN '울산'
		WHEN ADDRESS LIKE '대전%' THEN '대전'
		WHEN ADDRESS LIKE '경기%' THEN '경기'
		WHEN ADDRESS LIKE '강원%' THEN '강원'
		WHEN ADDRESS LIKE '충청북도%' OR ADDRESS LIKE '충북%' THEN '충북'
		WHEN ADDRESS LIKE '충청남도%' OR ADDRESS LIKE '충남%' THEN '충남'
		WHEN ADDRESS LIKE '전라북도%' OR ADDRESS LIKE '전북%' THEN '전북'
		WHEN ADDRESS LIKE '전라남도%' OR ADDRESS LIKE '전남%' THEN '전남'
		WHEN ADDRESS LIKE '경상북도%' OR ADDRESS LIKE '경북%' THEN '경북'
		WHEN ADDRESS LIKE '경상남도%' OR ADDRESS LIKE '경남%' THEN '경남'
		WHEN ADDRESS LIKE '제주%' THEN '제주'
		ELSE '기타'
		END
	</select>

</mapper>
