<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.users.mapper.UserCategoryMapper">

     <select id="getUserCategories" resultType="int">
         SELECT category_id FROM Users_Category WHERE user_idx = #{userIdx}
     </select>

     <insert id="insertUserCategory">
         INSERT INTO USERS_CATEGORY (USER_IDX, CATEGORY_ID)
         VALUES (#{userIdx}, #{categoryId})
     </insert>

     <delete id="deleteUserCategory">
         DELETE FROM USERS_CATEGORY
         WHERE USER_IDX = #{userIdx} AND CATEGORY_ID = #{categoryId}
     </delete>
	
	<select id="getCategoryNamesByUserId" resultType="string">
    SELECT c.CATEGORY_NAME
    FROM USERS_CATEGORY uc
    JOIN CATEGORY c ON uc.CATEGORY_ID = c.CATEGORY_ID
    WHERE uc.USER_IDX = #{userIdx}
	</select>
	
	<select id="getStoresByCategoryId" resultType="com.board.business.dto.StoreListDto">
    SELECT * FROM Stores WHERE category_id = #{categoryId}
</select>
	
</mapper>
