@charset "UTF-8";

	  /*----------------------------*/
  /*페이징*/
.main-pagination {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: auto; /* 너비를 자동으로 조정 */
    margin-bottom: 40px;
}

.main-pagination a {
    margin: 0 5px;
    padding: 10px 20px; /* 패딩 크기 조정 */
    text-decoration: none;
    color: #333;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    display: inline-block; /* 블록 요소가 아닌 인라인 블록으로 설정 */
}

.main-pagination a:hover {
    background-color: #E8EEE7;
    color: black;
    font-weight: bold;
}

/* Active page number styling (if possible to apply) */
.main-pagination a.active {
    background-color: #E8EEE7;
    color: black;
    font-weight: bold;
}
	