@charset "UTF-8";

body{
background: #F1F1F1;
}
 .container {

display:flex;
justify-content: center;
gap:30px;
margin-bottom: 50px;
} 
main{
width: 1400px;
padding: 46px;
background: #E8EEE7;

}
.content_box{
width: 100%;
background: #ffffff;
padding: 46px 0 ;
border-radius: 30px;
}
.box_layout{
display: flex;
}
.box_circle{
width: 120px;
height: 120px;
border-radius: 50px;
background: #D3FFE7;
display: flex;
justify-content: center;
align-items: center;
}
.box_info{
margin: 0 0 0 25px;
p:first-child {
font-size: 14px;
font-weight: 400;
color: 	#ACACAC;
} 
p:nth-child(2) {
font-size: 32px;
font-weight: 800;	
margin: 15px 0;
}
}
.box_updown{
display: flex;
justify-content: flex-start;
font-size: 16px;
font-weight: 500;
}
.green{
color: #00AC4F;
}
.red{
color: #D0004B;
}
#box_table{
width: 100%;
td{
border-right: 1px solid #F0F0F0;
width: 33%;
padding-left: 46px;
}
td:last-child{
border-right: none;
}
}


.content_box2{
width: 100%;
background: #ffffff;
padding: 46px;
border-radius: 30px;
}
#box_title{
font-size: 22px;
font-weight: 700;
}
hr{
margin: 95px 0;
border: none; 
height: 2px; 
background-color: white; 
}
.box_filter{
display: flex;
justify-content: flex-end;
gap:15px;
}
#box_search{
width:405px;
height: 68px;
background: #F9FBFF;
border-radius: 5px;
border:none;
font-size: 16px;
padding-left: 10px;
}
#filter{
width:130px;
height: 68px;
background: #F9FBFF;
border-radius: 5px;
border:none;
font-size: 16px;
padding-left: 10px;
	
}
#box_sort{
width:206px;
height: 68px;
background: #F9FBFF;
border-radius: 5px;
font-size: 16px;
border:none;
padding-left: 10px;
}
#box_table2{
margin:60px 0 0 0;
width: 100%;

border-collapse: collapse;
table-layout:auto;
th{
font-size: 18px;
font-weight: 400;
color: #B5B7C0;
padding: 28px 4px; 
text-align: left;
border-bottom: 1px solid #B5B7C0 ;
}
td{

border-bottom: 1px solid #EEEEEE;
border-collapse: collapse;;
font-size: 18px;
font-weight: 400;
padding: 24px 4px; 
word-wrap: break-word; 
word-break: break-word; 
overflow-wrap: break-word; 
text-overflow: ellipsis; 
height: 130px;

}
td:first-child {
width: 15%
}
td:nth-child(2){
width: 25%
}
td:nth-child(3){
width: 15%
}
td:nth-child(4){
width: 20%;
}
td:nth-child(5){
width: 10%
}
td:nth-child(6){
width: 15%;

}
}

.status_green{
color: #00B087;
padding: 6px 29px;
background: #B2FFED;
border: 1px solid #00B087;
display: inline-block;
border-radius: 4px;
}
.status_red{
color: #DF0404;
padding: 6px 36px;
background: #FFC5C5;
border: 1px solid #DF0404;
display: inline-block;
border-radius: 4px;
}
.status_purple{
color: #2100CA;
padding: 6px 22px;
background: #DAD2FF;
border: 1px solid #2100CA;
display: inline-block;
border-radius: 4px;
margin: 5px 0;
}

/*view */
.content_body{
border: 1px solid #000;
padding: 33px;
margin-bottom: 30px;
background: #fff;
} 
 .sub_title{
font-size: 28px;
font-weight: 800;
margin-bottom: 10px;
}
.sub_content{
padding: 10px 30px 0px 30px;             
}
.sub_table{
width:100%;
border-collapse: collapse;
textarea{
width: 760px;        
height: 400px;         
border: 1px solid #9A9A9A;
box-sizing: border-box; 
font-size: 16px; 
padding: 14px;
margin: 10px 0;
}
td{

border-bottom: 1px solid #DFDFDF;
}
}
.sub_table td:first-child {
font-size: 24px;
font-weight: 600;
width: 300px;	
padding:20px 0;
	
}
.sub_table td:nth-child(2) {
font-size: 20px;
font-weight: 600;	
color: #121212;	
}

.sub_table tr:last-child td {
    border-bottom: none;
}
.sub_day{
display: flex;
align-items: center;
margin: 7px 0;
p:first-child {
margin-right: 30px;
}
input[type="time"] {
    width: 160px;        
    height: 43px;         
    border: 1px solid #9A9A9A; 
    margin-right: 10px;  
    box-sizing: border-box; 
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}



}
#line_white{
height: 3px;
background: white;
margin: 30px 0 ;
} 

.sub_p{
font-size: 20px;
font-weight: 600;
margin: 10px 0;
}
.sub_hash_div{
font-size: 18px;
padding: 9px;
border: 1px solid #9A9A9A;
border-radius: 6px;
color: #121212;
background: #9DFACD;
display:flex;
justify-content: center;
align-items: center;

}
.sub_flex{
display: flex;
justify-content: flex-start;
gap:10px;

}
.table_padding1 {
padding: 10px 0;
}
.sub_textarea{
padding:20px 0 ;
white-space: pre-wrap;
font-size: 20px;
font-weight: 500;
}
.file_shape{
padding:7px;
background: #D9D9D9;
display: inline-block;
border-radius: 5px;
font-weight: 500;
}
.btn_layout{
width:100%;
display: flex;
justify-content:center;
gap:20px;



}
.btnful{
width:146px;
height: 58px;
border-radius: 30px;
font-size: 20px;
font-weight:500;
display: flex;
justify-content: center;
align-items: center;
 white-space: nowrap;
}
#btn_green{ 
background: #03D7A5;
color:white;
&:hover{
background: #03AA83;
color:white;
}
}
#btn_red{ 
background: #FF0000;
color:white;
&:hover{
background: #A80101;
color:white;
}
}
#btn_white{ 
background: #fff;
color:#121212;
border: 2px solid #121212;
&:hover{
background: #D4D4D4;
color:#121212;
}

}
#btn_blue{ 
background: #2100CA;
color:white;
&:hover{
background: #190095;
color:white;
}
}
#btn_black{ 
background: #333333;
color:#FF0000;
border: 2px solid #FF0000;
&:hover{
background: #909090;
color:#FF0000;
}
}
.sub_day_full{
display: flex;
align-items: center;
margin: 7px 0;
p:first-child {
margin-right: 14px;
}
input[type="time"] {
    width: 160px;        
    height: 43px;         
    border: 1px solid #9A9A9A; 
    margin-right: 10px;  
    box-sizing: border-box; 
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
}
.btn3{
  width: 130px;        
  height: 43px;
box-sizing: border-box; 
font-size: 20px;
background: #00FF84;
    border: 1px solid #9A9A9A; 
    display:flex;
    justify-content:center;
    align-items:center;
&:hover{
background: #DFDFDF;
}    
  
}
.sub_link{
width: 760px;        
height: 43px;         
border: 1px solid #9A9A9A;
box-sizing: border-box; 
font-size: 16px; 
padding-left: 10px;
}

.sub_note{
width: 500px;        
height: 43px;         
border: 1px solid #9A9A9A;
box-sizing: border-box; 
font-size: 16px; 
padding-left: 10px;
margin: 3px 0;

}
.sub_hash{
font-size: 18px;
padding: 9px 4px 3px 9px;
border: 1px solid #9A9A9A;
border-radius: 6px;
color: #121212;
background: #9DFACD;
display:flex;
align-items: flex-start;
span{
cursor: pointer;
}
}
.sub_flex{
display: flex;
justify-content: flex-start;
gap:10px;

}
#inputHash{

margin: 10px 0;
width: 760px;        
height: 43px;         
border: 1px solid #9A9A9A;
box-sizing: border-box; 
font-size: 16px; 
padding-left: 10px;
background: #EAEAEA;

}
.sub_guide{
font-size: 14px;
color: #828282;
font-weight: 400; 
text-align: right;
margin:8px 0 3px 0;
padding-right: 17px;
}
.sub_select{
width: 156px;
height: 46px;
padding: 5px;
font-size: 18px;
font-weight: 400;
border: 1px solid #9A9A9A;
color: #121212;


}
.btn4{
     

box-sizing: border-box; 
font-size: 20px;
background: #00FF84;
    border: 1px solid #9A9A9A; 
    padding:10px;
    border-radius:5px;
&:hover{
background: #DFDFDF;
}  
}
.sub_flex2{
display:flex;
justify-content: flex-end;
}
.delete-button{
margin: 0px 4px;
cursor: pointer;
}
.file-item{
padding:6px;
border: 1px solid #9A9A9A;
background: #DFDFDF;
margin: 5px;
display: inline-block;
font-size:16px;
font-weight: 500px; 
border-radius: 5px;
} 
#title_guide{
font-size: 16px;
text-align: right;
color: #767676;
} 

/**/
#view_header  {
p:first-child {
font-size: 26px;
font-weight: 700;
}
}
.list_option{
display: flex;
justify-content: flex-end;
}
.list_select{
width: 540px;
height: 46px;
font-size: 20px;
font-weight: 500;
}
/* 모달 창 */
.modal-bg {
    display: none;  /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);  /* 검은색 불투명 배경 */
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    z-index: 1001;
    width: 1200px;
    border: 2px solid #9A9A9A;
}

.modal h2 {
    margin-bottom: 15px;
    font-weight: 600;
    color: #121212;
}



.modal button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

#btnClose {
    background-color:white; 

    width:30px;
    height:30px;
    
    
}

#btnConfirm {
    border: 1px solid #fff;
    color: #121212;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF84;
    margin: 0 auto;
}

.modal_layout_header{
display: flex;
justify-content: space-between;
align-items: baseline;
}
.modal_layout_confirm{
display: flex;
justify-content: center;
}
.modeal_area{
width: 100%;
height:152px;
border: 1px solid #9A9A9A;
white-space:pre-wrap ;
padding: 10px;
}
.modal_box{
padding: 5px 0;
}
.size_box2{
height: 2px;
background: #DFDFDF;
margin: 10px 0;
}
.model_textarea{
width: 100%;
height:152px;
border: 1px solid #9A9A9A;
white-space:pre-wrap ;
padding: 10px;
font-size: 18px;
}

.dropdown {
  position: relative;
  width: 800px;
}

/* Dropdown toggle (selected item) */
.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-toggle:hover {
  background-color: #f5f5f5;
}

/* Dropdown options container */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  display: none; /* Hidden by default */
  z-index: 1000;
}

.dropdown-menu.show {
  display: block;
}

/* Custom option style */
.custom-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.custom-option:hover {
  background-color: #f5f5f5;
}

.option_left-align {
  text-align: left;
  flex-grow: 1;
}

.option_right-align {
  text-align: right;
  display: flex;
  gap: 10px;
  align-items: center;
}

.status-con {
  padding: 4px;
  background-color: gray;
  color: white;
  margin: 5px;
  border-radius: 4px;
  font-size: 12px;
}
.status-pre {
  padding: 4px;
  background-color: red;
  color: white;
  margin: 5px;
  border-radius: 4px;
  font-size: 12px;
}

.option_date {
  color: #333;
  font-size: 12px;
}

/*update*/
.sub_short{
width: 250px;        
height: 43px;         
border: 1px solid #9A9A9A;
box-sizing: border-box; 
font-size: 16px; 
padding-left: 10px;
margin: 0 10px;
}
.sub_input_date{
width: 150px;        
height: 43px;         
border: 1px solid #9A9A9A;
box-sizing: border-box; 
font-size: 16px; 
padding-left: 10px;
margin: 0 10px;
}
.star_red{
color: red;
}
