@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

form {
  cursor: pointer;
}

body {
  background-color: #121212;
  padding-top: 20px; /* 여백을 줄여서 모바일에서 더 적합하게 조정 */
  margin-bottom:100px;
}

/* 모바일 화면에 맞는 추가 스타일 */
@media (max-width: 360px) {


  /* 버튼 크기 조정 */
  button {
    padding: 12px; /* 버튼 패딩 조정 */
  }

}
