@charset "UTF-8";
body{
	padding-top : 114px;
	background: #121212;
}

.container {

display:flex;
justify-content: center;
position: relative;




}
main {

width: 1200px;
position: absolute;
left: 50%; 
margin-bottom: 80px;
transform: translateX(-50%); 
}   


#icon_back {
width: 43px;
height: 43px;
position: absolute;
left: calc(50% - 600px - 73px);
cursor: pointer;
}
 
aside {
width: 271px; 
height: 286px;
border: 10px solid #00FF84;
position: fixed;
right: calc(50% - 600px - 300px);

}

.title{
border: 2px solid #BDFF91;
margin-top: 30px;
padding: 40px 50px 30px 50px;
}  

.guide_line{
border: 2px solid #ffffff;
margin-top: 15px;
height: 80px; 
display: flex; 
align-items: center; 
justify-content: center;
p{
color: white;

font-size: 20px;
font-weight: 400; 
margin: 0px;

}
} 

.date_line{
margin-top:15px;
height: 90px; 
display: flex;
justify-content: space-between;
gap:10px;
}
.menu_main{
margin-top:30px;
font-size: 24px;
font-weight: 800; 
height: 82px; 
background: #767676;
display: flex;
justify-content: space-around;
div{
width: 33%;
display:flex;
align-items: center; /* 수직 중앙 정렬 */
justify-content: center;
height: 100%;

&:hover{
color:white;
}
}

}
.content {
margin-top:10px;
background: #000000;
color: white;
padding: 40px 60px;
}
.link{

margin-top:30px;
font-size: 16px;
font-weight: 900; 
height: 90px; 
display: flex;
justify-content: center;
gap:20px;
margin-bottom: 30px;

}
.title_header{
display:flex;
justify-content: space-between;

}
.title_category {
color: #757575; 
font-size: 16px;
font-weight: 600; 
}
.title_name{
color: white; 
font-size: 34px; 
font-weight: 700;
}
.title_subname{
color: white;
font-size: 20px; 
font-weight: 600;
}
.title_icon{
display:flex;
justify-content: flex-start;
align-items:center;
color: white;
font-size: 16px; 
font-weight: 600;
gap:4px;
img{
width: 30px;
height: 30px;
}

}

.title_adress{
margin-top: 5px;
display: flex;
justify-content: flex-start;
color: #757575;
font-size: 16px; 
font-weight: 600;
}
.tags{
margin-top: 12px;
display: flex;
justify-content: flex-start;
gap:8px;
}
.tag_option {
border-radius: 5px;
background: white;
color: #121212;
font-size: 16px; 
font-weight: 800;
padding: 5px 7px;
}
.title_click {
display:flex;
justify-content: flex-end;
align-items:center;
color: white;
font-size: 16px; 
font-weight: 600;
gap:4px;
div {
padding: 10px;
display:flex;gap:4px;
align-items:center;
border-radius: 5px;
border: 1px solid #ffffff;

    }
img{
width: 20px;
height: 20px;
}
}
.title_footer{
display: flex;
justify-content: space-between;
}
.deadline {
border: 1px solid #ffffff;
display: flex;
width: 280px;
justify-content:center;
align-items:center;
gap:20px;
p:first-child {
color: white;
font-size: 24px; 
font-weight: 600;	
}
p:nth-child(2) {
font-size: 24px; 
font-weight: 600;
color: #00FF84;		
}
}
.dateo {
border: 1px solid #ffffff;
display: flex;
width: 660px;
justify-content:center;
align-items:center;
gap:20px;
p:first-child {
color: white;
font-size: 24px; 
font-weight: 600;	
}
p:nth-child(2) {
font-size: 24px; 
font-weight: 400;
color: white;		
}
}
.btn_booking {
width: 215px;
font-size: 28px; 
font-weight: 600;
border: 1px solid #ffffff;

&:hover{
background:#00FF84;
cursor: pointer;
}	
}
.content_title{
display:flex;
align-items:center;
gap:5px;

margin-bottom: 7px;
img{
width: 31px;
height: 31px;
}
p {
font-size: 24px; 
font-weight: 600;
color: #00FF84;
}

}
.content_detail{
font-size: 20px; 
font-weight: 300;
color:white;
}
.content_sit{
display: flex;
justify-content: flex-start;
align-items: center;
gap: 60px;
div{
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
font-size: 20px; 
font-weight: 500;
}
}

.btn1{
border: 2px solid #ffffff;
display: flex;
justify-content: center;
align-items: center;
width: 400px;
font-size: 22px; 
font-weight: 600;
color: white;
&:hover{
background: #757575;
}
}
.atag_div{
margin-top:20px;
width: 215px;
height: 60px;
background: #00FF84;
display:flex;
justify-content: center;
align-items: center;
&:hover{
background: #75FFBC;
}
}
.btn2{
color: #121212;
font-size: 20px; 
font-weight: 800;

}



.swiper-button-next {
color: white;
}
.swiper-slide img {
  object-fit: cover;
}

.swiper-container {
     width: 1200px;
     height: 600px;
     margin: auto;
     overflow: hidden;
      position: relative;
   }
   
/* 네비게이션 버튼의 기본 스타일 */
.swiper-button-prev,
.swiper-button-next {
  position: absolute; /* swiper-wrapper 기준으로 위치 */
  top: 50%; /* 세로 중앙 */
  transform: translateY(-50%); /* 정확한 세로 중앙 정렬 */
  background-color: rgba(0, 0, 0, 0.5); /* 배경색 */
  color: #fff; /* 화살표 색상 */
  border: none;
  padding: 30px 20px 30px 20px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10; /* 슬라이드 이미지 위에 오도록 설정 */
}
.swiper-button-prev {
  left: 0; 
}
.swiper-button-next {
  right: 0; 
}

.sub_detail{
text-align:right;
margin-top:5px;
color: #767676;
font-size: 13px;
}

.side-layout {
padding: 17px;

.side_box {
display:flex;
justify-content:flex-start;
align-items:center;
color: #ffffff;
border: 1px solid #ffffff;
font-size: 14px;
width: 215px;
height: 44px;
margin-top: 10px;
padding: 5px 15px;
font-weight: 500;
}
p {
color: #ffffff;
font-size: 20px;
font-weight: 700;

}
hr{
color: #ffffff;
margin-top: 20px;
}
}

.share:hover{
background: #767676;
cursor: pointer;
}
.bookmark:hover{
background: #767676;
cursor: pointer;
}
.review_header{
display:flex;
justify-content:flex-start;
margin-top: 25px;
}
.review_title{
padding:10px;
display:flex;
justify-content:flex-start;
align-items:baseline;
gap: 10px;
p:nth-child(2){
font-size: 18px; 
font-weight: 500;
color: #767676;
margin-bottom: 7px;}
p:first-child {
font-size: 24px; 
font-weight: 600;
color: #00FF84;	
}

}
.review_box{
width: 370px;
height: 471px;
background: white;
overflow: hidden;
margin-bottom: 30px;
cursor:pointer;
&:hover{
background: #F1F1F1;
}
}
.review_preview{
position: relative;
width: 326px;
height: 286px;
margin: 20px 22px;
}
.review_img{
width: 100%;
height: 100%;
object-fit: cover;
}

.review_like {
position: absolute;
top: 10px;
left: 10px;
background: rgba(30, 30, 30, 0.8);
border-radius: 21px;
border: 1px soild #121212; 
display: flex;
align-items: center;
gap: 5px;
padding: 5px 10px;
color:white;
img{
width: 30px;
height: 30px;
}
}



.review_info{
margin: 0px 22px;
display: flex;
justify-content: space-between;
p{
font-size: 24px; 
font-weight: 600;
}
div{
display:flex;
align-items:center;
font-size: 16px; 
font-weight: 500;
img{
width: 18px;
height:18px;
}
}
}
.review_score{
margin: 5px 22px;
font-size: 20px; 
font-weight: 500;
}
.review_time{
margin: 0px 22px;
display:flex;
justify-content:flex-end;
div{
width: 110px;
height: 42px;
border-radius: 21px;
background: #121212;
color: white;
font-size: 20px; 
font-weight: 600;
text-align: center;
align-content: center;
}
}
.review_cdate{
margin: 5px 22px;
display:flex;
justify-content:flex-end;
color: #767676;
}
.review_body{
display:flex;
justify-content: space-between;
flex-wrap: wrap;
padding: 5px 0 0px 0;
}
.review_sub{
padding:0px 10px 10px 10px;
display:flex;
color:#ffffff;
align-items:center;

justify-content: space-between;
p {
font-size: 16px; 
}
}
.review_filter {
display:flex;
gap:7px;
}


#review_slike,#review_sscore,#review_snew {
border: 1px solid #00FF84;
padding: 8px 10px;
border-radius: 10px;
font-weight:400;
&:hover{
background:#00FF84;
color: #121212;
font-weight:400;
}

}
#map {
      width: 100%;
      height: 600px;
  }
/* 캐러셀 전체 컨테이너 스타일 */
   .swiper-container2 {
       width: 1000px;
       height: 500px;
       background-color: black;
       overflow: hidden; /* 오버플로우 숨김 */
       position: relative;
       margin: 20px auto;
   }

.ss {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: black;
    object-fit: contain !important;
}
.review_score2{
  width: 550px;
  height: 100px;
 display: flex;
 justify-content: space-around;
 align-items:center;
 gap:150px;
 font-size: 24px;
 font-weight: 600;
 color: #00FF84;
 background: #000000;
}
.review_nld {
  width: 640px;
  height: 100px;
 display: flex;
 justify-content:center;
  align-items:center;
   font-weight: 600;
   background: #000000;
 img {
   width: 30px;
  height: 30px;
 }
p {
color: white;
font-size: 24px;

}
}
.review_line {
 display: flex;
 justify-content: space-between;
 align-items: center;


}  
.sizebox{
height: 20px;
 background: #121212;
} 


.btn_line{
display:flex;
width:620px;
margin: 0px auto 30px;
gap:10px;

}
.btn3{
border: 2px solid #ffffff;
display: flex;
justify-content: center;
align-items: center;
width: 200px;
height:60px;
font-size: 22px; 
font-weight: 600;
color: white;
&:hover{
background: #757575;
}
}