@charset "UTF-8";

#popup-container {
  width: 710px;
  height: 383.2px;
  position: relative;
}
.group-480 {
  width: 710px;
  height: 395.99px;
  position: static;
}
.popover-pad {
  width: 630px;
  height: 330px;
  position: absolute;
  left: calc(50% - 317.45px);
  top: 50%;
  translate: 0 -50%;
  box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(65px);
  border-radius: 13px;
}
.popupbackground {
  border-radius: 13px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -0.39px;
  top: 0px;
  overflow: hidden;
    border-radius: 13px;
}
.popupmaterial {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}
.poppupthick {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-486 {
  width: 484.94px;
  height: 245.83px;
  position: static;
}
.group-488 {
  width: 114.21px;
  height: 11.24px;
  position: static;
}
._100 {
  text-align: left;
  font-family: "Abel-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 380px;
  top: 55px;
  width: 150px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._100-span {
  color: #ff0004;
  font-family: "Abel-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}
._100-span2 {
  color: #000000;
  font-family: "Abel-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}
.eye {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 340px;
  top: 46px;
  overflow: visible;
}
.popup-period {
  color: #000000;
  text-align: left;
  font-family: "Abel-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 400;
  position: absolute;
  left: 97px;
  top: 55px;
  width: 200px;
  height: 9.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.calendar {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 60.75px;
  top: 46px;
  overflow: visible;
}
.image-9 {
  width: 177.51px;
  height: 177.32px;
  position: absolute;
  left: 72.71px;
  top: 139.79px;
  object-fit: cover;
}
.ootd-of {
  color: #000000;
  text-align: left;
  font-family: "Adamina-Regular", sans-serif;
  font-size: 32px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 66.06px;
  top: 95.27px;
  width: 479.63px;
  height: 33.3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-490 {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  border-width: 2px;
  width: 336.18px;
  height: 204.33px;
  position: absolute;
  left: 340px;
  top: 134.39px;
  overflow: hidden;
}
.group-496 {
  position: absolute;
  inset: 0;
}
._22 {
  text-align: left;
  font-family: "Pretendard-Black", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 900;
  position: absolute;
  left: 21px;
  top: 8px;
  width: 277px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._22-span {
  color: #000000;
  font-family: "Pretendard-Black", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 900;
}
._22-span2 {
  color: #ff0000;
  font-family: "Pretendard-Black", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 900;
}
._22-span3 {
  color: #000000;
  font-family: "Pretendard-Black", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 900;
}
.line-4 {
  margin-top: -1px;
  border-style: solid;
  border-color: #55ffad;
  border-width: 1px 0 0 0;
  width: 278px;
  height: 0px;
  position: absolute;
  left: 20px;
  top: 43px;
}
.frame-491 {
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 231px;
  height: 56px;
  position: absolute;
  left: 20px;
  top: 63px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.popupsee {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Black", sans-serif;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 900;
  position: absolute;
  left: 24px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.arrow-up-square-contained {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 210px;
  top: 10px;
  transform: translate(-26px, 0px);
  overflow: visible;
}
.rectangle-331 {
  background: rgba(255, 255, 255, 0);
  width: 246px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: 144px;
}

.carousel2 {
  width: 250px;
  height: 400px;
  position: static;
}

.rectangle-3312 {
  background: #f4f4f4;
  width: 246px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: 184px;
}
#closePopup {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 622px;
  top: 47px;
  overflow: visible;
  cursor:pointer;
}
