<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.users.mapper.UserReservationMapper">

    <select id="getUserReservations" resultType="com.board.users.dto.ReservationUsersDto">
        SELECT * FROM Reservation_Users WHERE user_idx = #{user_idx}
        ORDER BY cdate DESC
    </select>

    <select id="getStoresForReservations" resultType="com.board.business.dto.StoreDto">
        SELECT s.* 
        FROM Stores s
        JOIN Reservation_Users ru ON s.store_idx = ru.store_idx
        WHERE ru.user_idx = #{user_idx}
        ORDER BY ru.cdate DESC
    </select>

    <select id="getStoreDetailsForReservations" resultType="com.board.business.dto.StoreDetailDto">
        SELECT sd.* 
        FROM Store_Details sd
        JOIN Reservation_Users ru ON sd.store_idx = ru.store_idx
        WHERE ru.user_idx = #{user_idx}
        ORDER BY ru.cdate DESC
    </select>

    <select id="getUserByUsername" resultType="com.board.users.dto.UsersDto">
        SELECT * FROM users WHERE id = #{username}
    </select>
    
  

	<select id="getImagesForStores" resultType="com.board.business.dto.ImageStoreDTO">
    SELECT DISTINCT i.*
    FROM image_store i
    JOIN reservation_users r ON i.store_idx = r.store_idx
    WHERE r.user_idx = #{user_idx}
	</select>

<!-- 테스트 -->
<select id="getTestList">
SELECT *
FROM (
    SELECT
        ru.reservation_idx,
        ru.user_idx,
        ru.status AS reservation_status,
        ru.reservation_number,
        ru.cdate AS reservation_cdate,
        ru.rp_idx,
        ru.reservation_date,
        sd.address,
        sd.start_date,
        sd.end_date,
        s.store_idx,
        s.company_idx,
        s.title,
        s.age,
        s.brand1,
        s.brand2,
        s.cdate AS store_cdate,
        s.status AS store_status,
        s.ban,
        i.is_idx,
        i.imagename,
        i.imageext,
        i.image_path,
        ROW_NUMBER() OVER (PARTITION BY s.store_idx ORDER BY i.is_idx ASC) AS rn
    FROM
        reservation_users ru
    JOIN
        stores s ON ru.store_idx = s.store_idx
    JOIN
        image_store i ON s.store_idx = i.store_idx
    JOIN
        stores_detail sd ON i.store_idx = sd.store_idx
    WHERE
        ru.user_idx = #{user_idx}
)
WHERE rn = 1
</select>

</mapper>
