<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.users.mapper.UsersMapper">
   
   <!-- 진행중 팝업 리스트 -->
  <select id="getPopuplist">
SELECT *
FROM (
    SELECT
        st.store_idx, 
        st.company_idx, 
        st.title, 
        st.age, 
        st.brand1, 
        st.brand2, 
        st.cdate, 
        st.status, 
        st.ban, 
        std.detail_idx, 
        std.address, 
        TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date, 
        TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
        std.homepage, 
        std.sns, 
        std.introduction, 
        std.content, 
        std.parking, 
        std.fare, 
        std.age_limit, 
        std.shooting, 
        std.igdate, 
        std."LIKE", 
        std.goods,
        img.is_idx, 
        img.imagename, 
        img.imageext, 
        img.image_path,
        ROW_NUMBER() OVER (PARTITION BY st.store_idx ORDER BY img.is_idx ASC) AS rn,
        (SELECT COUNT(user_idx) 
         FROM LIKE_STORES ls 
         WHERE ls.store_idx = st.store_idx) AS like_count
    FROM
        stores st
    JOIN stores_detail std ON st.store_idx = std.store_idx
    LEFT JOIN image_store img ON st.store_idx = img.store_idx
    WHERE 
        st.ban != 'Y' AND
        st.status = '승인' AND 
        TRUNC(std.start_date) &lt;= TRUNC(SYSDATE) AND 
        TRUNC(std.end_date) &gt;= TRUNC(SYSDATE)
)
WHERE rn = 1
ORDER BY store_idx ASC
  </select>


   
   <!-- 랭킹 팝업 리스트 -->
   <select id="getRanklist">
WITH FirstImage AS (
    SELECT
        store_idx,
        image_path,
        ROW_NUMBER() OVER (PARTITION BY store_idx ORDER BY is_idx) AS rn
    FROM
        image_store
)
SELECT
    st.store_idx,st.company_idx,st.title,st.age,st.brand1,st.brand2,st.cdate,st.status,st.ban,
    std.detail_idx,std.address,TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,
    TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,std.homepage, std.sns,std.introduction,
    std.content,std.parking,std.fare,std.age_limit,std.shooting, std.igdate,
    std."LIKE",std.goods,COUNT(h.user_id) AS user_count,img.image_path, 
            (SELECT COUNT(user_idx) 
         FROM LIKE_STORES ls 
         WHERE ls.store_idx = st.store_idx) AS like_count
FROM
    stores st
JOIN 
    stores_detail std ON st.store_idx = std.store_idx
LEFT JOIN 
    HIT h ON st.store_idx = h.store_idx
LEFT JOIN 
    FirstImage img ON st.store_idx = img.store_idx AND img.rn = 1
WHERE 
    st.ban != 'Y' AND
    st.status = '승인' AND
    h.cdate >= TRUNC(SYSDATE) - 7 AND  
    st.store_idx IN (
        SELECT STORE_IDX
        FROM (
            SELECT STORE_IDX, COUNT(user_id) AS user_count
            FROM HIT
            WHERE TRUNC(cdate) >= TRUNC(SYSDATE) - 7 
            GROUP BY STORE_IDX
            ORDER BY user_count DESC
        )
        WHERE ROWNUM &lt;= 8
    )
GROUP BY
    st.store_idx,st.company_idx,st.title,st.age,st.brand1,st.brand2,st.cdate,st.status,st.ban,
    std.detail_idx,std.address, std.start_date,std.end_date,std.homepage,std.sns,std.introduction, std.content,
    std.parking,std.fare,std.age_limit,std.shooting,std.igdate,std."LIKE",std.goods,
    img.image_path
ORDER BY
    COUNT(h.user_id) DESC
   </select>
   
   <select id="getRankdetaillist">
SELECT *
FROM (
    SELECT
        main_data.*,
        img.is_idx, img.imagename, img.imageext, img.image_path,
        ROW_NUMBER() OVER (PARTITION BY main_data.store_idx ORDER BY main_data.user_count DESC) AS rn
    FROM (
        SELECT
            st.store_idx, st.company_idx, st.title, st.age, st.brand1, st.brand2,
            st.cdate, st.status, st.ban, std.detail_idx, std.address,
            TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,
            TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
            std.homepage, std.sns, std.introduction, std.content,
            std.parking, std.fare, std.age_limit, std.shooting, std.igdate,
            std."LIKE", std.goods,
            COUNT(h.user_id) AS user_count
        FROM
            stores st
        JOIN stores_detail std ON st.store_idx = std.store_idx
        LEFT JOIN HIT h ON st.store_idx = h.store_idx 
            AND h.cdate >= TRUNC(SYSDATE) - 7 
            AND h.cdate &lt;= TRUNC(SYSDATE)
        WHERE 
            st.ban != 'Y' AND
            st.status = '승인'
        GROUP BY
            st.store_idx, st.company_idx, st.title, st.age, st.brand1, st.brand2,
            st.cdate, st.status, st.ban, std.detail_idx, std.address,
            std.start_date, std.end_date, std.homepage, std.sns,
            std.introduction, std.content, std.parking, std.fare,
            std.age_limit, std.shooting, std.igdate, std."LIKE", std.goods
    ) main_data
    LEFT JOIN image_store img ON main_data.store_idx = img.store_idx
) ranked_data
WHERE ranked_data.rn = 1 
ORDER BY ranked_data.user_count DESC
FETCH FIRST 9 ROWS ONLY
   </select>
   
   <!-- 조회수 전체 조회 -->
   <select id="getSelectStoreHit">
   SELECT
       store_idx,
       user_id
   FROM
       hit
   WHERE store_idx=#{store_idx}
   AND   user_id = #{username}
   </select>
   <!-- 랭킹 조회수 증가 -->
   <insert id="insertStoreHit">
   INSERT INTO hit (store_idx,user_id) 
   VALUES (#{store_idx},#{username})
   </insert>
   
   <!-- 오픈예정 팝업 리스트 -->
  <select id="getOpendpopuplist">
WITH RankedStores AS (
    SELECT
        st.store_idx,
        st.company_idx,
        st.title,
        st.age,
        st.brand1,
        st.brand2,
        st.cdate,
        st.status,
        st.ban,
        std.detail_idx,
        std.address,
        TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,
        TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
        std.homepage,
        std.sns,
        std.introduction,
        std.content,
        std.parking,
        std.fare,
        std.age_limit,
        std.shooting,
        std.igdate,
        std."LIKE",
        std.goods,
        img.is_idx,
        img.imagename,
        img.imageext,
        img.image_path,
        ROW_NUMBER() OVER (PARTITION BY st.store_idx ORDER BY st.store_idx ASC) AS rn,
   	    (SELECT COUNT(user_idx) 
         FROM LIKE_STORES ls 
         WHERE ls.store_idx = st.store_idx) AS like_count
    FROM
        stores st
    JOIN 
        stores_detail std ON st.store_idx = std.store_idx
    LEFT JOIN 
        image_store img ON st.store_idx = img.store_idx
    WHERE 
        st.ban = 'N' AND 
        st.status = '승인' AND 
        TRUNC(std.start_date) >= TRUNC(SYSDATE) AND 
        TRUNC(std.end_date) >= TRUNC(SYSDATE)
)
SELECT *
FROM RankedStores
WHERE rn = 1
ORDER BY store_idx ASC
  </select>
  
  <!-- 종료된 팝업 리스트 -->
  <select id="getclosepopuplist">
  SELECT
       st.store_idx, st.company_idx,st.title,st.age,st.brand1,st.brand2,st.cdate,st.status,st.ban,
       std.detail_idx,std.address,TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,

       std.homepage, std.sns, std.introduction,std.content,std.parking,std.fare,std.age_limit, std.shooting,std.igdate,
       std."LIKE", std.goods

   FROM
       stores st JOIN stores_detail std ON st.store_idx = std.store_idx
   WHERE st.ban='N' AND st.status='승인' 
   AND std.start_date &lt; SYSDATE AND std.end_date &lt; SYSDATE
   ORDER BY
       st.store_idx ASC
  </select>
  

  <!-- 메인화면 필터링 -->
  <select id="getFilterlist">
SELECT *
FROM (
    SELECT
        st.store_idx,
        st.company_idx, 
        st.title,
        st.age,
        st.brand1,
        st.brand2,
        st.cdate,
        st.status,
        st.ban,
        std.detail_idx,
        std.address,
        TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,
        TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
        std.homepage,
        std.sns,
        std.introduction,
        std.content,
        std.parking,
        std.fare,
        std.age_limit,
        std.shooting,
        std.igdate,
        std."LIKE",
        std.goods,
        im.is_idx,
        im.imagename,
        im.imageext,
        im.image_path,
        ROW_NUMBER() OVER (PARTITION BY st.store_idx ORDER BY im.is_idx ASC) AS rn,
    	(SELECT COUNT(user_idx) 
         FROM LIKE_STORES ls 
         WHERE ls.store_idx = st.store_idx) AS like_count
    FROM
        stores st
    JOIN
        stores_detail std ON st.store_idx = std.store_idx
    LEFT JOIN
        image_store im ON st.store_idx = im.store_idx
    WHERE
        1 = 1
        AND st.ban != 'Y'
        AND st.status = '승인'
        AND TRUNC(std.start_date) &lt;= TRUNC(SYSDATE)
        AND TRUNC(std.end_date) >= TRUNC(SYSDATE)
        <if test="region != null and region != ''">
            AND std.address LIKE '%' || #{region} || '%'
        </if>
        <if test="age != null and age != ''">
            AND st.age = #{age}
        </if>
        <if test="date != null and date != ''">
            AND #{date} BETWEEN std.start_date AND std.end_date
        </if>
)
WHERE rn = 1
ORDER BY store_idx ASC
  </select>
  
  <!-- 검색 후 화면 리스트 -->
  <!-- 진행중 -->
  <select id="getOngoingsearchlist">
  SELECT *
FROM (
    SELECT
        st.store_idx,
        st.company_idx,
        st.title,
        st.age,
        st.brand1,
        st.brand2,
        st.cdate,
        st.status,
        st.ban,
        std.detail_idx,
        std.address,
        TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,
        TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
        std.homepage,
        std.sns,
        std.introduction,
        std.content,
        std.parking,
        std.fare,
        std.age_limit,
        std.shooting,
        std.igdate,
        std."LIKE",
        std.goods,
        im.is_idx,
        im.imagename,
        im.imageext,
        im.image_path,
        ROW_NUMBER() OVER (PARTITION BY st.store_idx ORDER BY im.is_idx ASC) AS rn
    FROM
        stores st
    JOIN
        stores_detail std ON st.store_idx = std.store_idx
    LEFT JOIN
        image_store im ON st.store_idx = im.store_idx
    WHERE
        st.ban != 'Y'
        AND st.status = '승인'
        AND TRUNC(std.start_date) &lt;= TRUNC(SYSDATE)
        AND TRUNC(std.end_date) >= TRUNC(SYSDATE)
        AND st.title LIKE '%' || #{search} || '%'
)
WHERE rn = 1
ORDER BY store_idx ASC
OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
  </select>
  
  
  <!-- 종료 -->
  <select id="getClosesearchlist">
SELECT *
FROM (
    SELECT
        st.store_idx,
        st.company_idx,
        st.title,
        st.age,
        st.brand1,
        st.brand2,
        st.cdate,
        st.status,
        st.ban,
        std.detail_idx,
        std.address,
        TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,
        TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
        std.homepage,
        std.sns,
        std.introduction,
        std.content,
        std.parking,
        std.fare,
        std.age_limit,
        std.shooting,
        std.igdate,
        std."LIKE",
        std.goods,
        im.is_idx,
        im.imagename,
        im.imageext,
        im.image_path,
        ROW_NUMBER() OVER (PARTITION BY st.store_idx ORDER BY st.store_idx ASC) AS rn
    FROM
        stores st
    JOIN
        stores_detail std ON st.store_idx = std.store_idx
    LEFT JOIN
        image_store im ON st.store_idx = im.store_idx
    WHERE
        st.ban != 'Y'
        AND st.status = '승인'
        AND TRUNC(std.start_date) &lt; TRUNC(SYSDATE)
        AND TRUNC(std.end_date) &lt; TRUNC(SYSDATE)
        <if test="search != null and search != ''">
            AND st.title LIKE '%' || #{search} || '%'
        </if>
) subquery
WHERE rn = 1
ORDER BY store_idx ASC
OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
  </select>
  
  
  <!-- 상세페이지 -->
  <!-- 스토어 상세 정보 -->
  <select id="getStoredetail">
  SELECT
       st.store_idx,st.company_idx, st.title, st.age, st.brand1, st.brand2, st.cdate, st.status,  st.ban,
       std.detail_idx, std.store_idx, std.address,TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date, TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date, std.homepage, std.sns, std.introduction, 
       std.content, std.parking, std.fare, std.age_limit, std.shooting, std."LIKE", std.goods,std.igdate
   
   FROM
       stores st,stores_detail std
   WHERE st.store_idx = std.store_idx
   AND   st.store_idx = #{store_idx}
  </select>
  
  <!-- 스토어 태그 -->
  <select id="getStoretag">
  SELECT
       tage_idx, store_idx,tag_name
   FROM
       stores_tag
   WHERE store_idx = #{store_idx}
  </select>
 
  <!-- 스토어 예약 구분 -->
  <select id="getStoreReservation">
  SELECT rs_idx, store_idx, notes,
       open_date, status, link
   FROM
       reservation_stores
   WHERE store_idx = #{store_idx}
  </select>
  
  <!-- 스토어 운영시간 -->
  <select id="getStoreOperation">
  SELECT
       so.operation_idx,
       so.store_idx,
       TO_CHAR(smon,'HH24:MI') AS smon,
       TO_CHAR(emon,'HH24:MI') AS emon,
       TO_CHAR(stue,'HH24:MI') AS stue,
       TO_CHAR(etue,'HH24:MI') AS etue,
       TO_CHAR(swed,'HH24:MI') AS swed,
       TO_CHAR(ewed,'HH24:MI') AS ewed,
       TO_CHAR(sthu,'HH24:MI') AS sthu,
       TO_CHAR(ethu,'HH24:MI') AS ethu,
       TO_CHAR(sfri,'HH24:MI') AS sfri,
       TO_CHAR(efri,'HH24:MI') AS efri,
       TO_CHAR(ssat,'HH24:MI') AS ssat,
       TO_CHAR(esat,'HH24:MI') AS esat,
       TO_CHAR(ssun,'HH24:MI') AS ssun,
       TO_CHAR(esun,'HH24:MI') AS esun,
       so.onotes,
       std.detail_idx,std.store_idx,std.address,TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date, TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,std.homepage,
       std.sns, std.introduction, std.content, std.parking, std.fare, std.age_limit, std.shooting,
       std."LIKE", std.goods, std.igdate  
   FROM
       stores_operation so JOIN stores_detail std ON so.store_idx = std.store_idx
   WHERE so.store_idx = #{store_idx}
  </select>
  
  <select id="getStoreCategory">
  SELECT
       c.category_idx,
       c.category_name,
       sc.category_id
   FROM
       stores_category sc
   JOIN
       category c ON sc.category_id = c.category_id
   WHERE
       sc.store_idx = #{store_idx}
  </select>
  
  <!-- 메인 검색 페이징 -->
  <!-- 진행중 -->
  <select id="getOngoingcount">
  SELECT
       COUNT(*)  AS CNT
   FROM
       stores st JOIN stores_detail std ON st.store_idx = std.store_idx
   WHERE 
         st.ban!='Y' AND st.status='승인'
         AND TRUNC(std.start_date) &lt;= TRUNC(SYSDATE) 
         AND TRUNC(std.end_date) &gt;= TRUNC(SYSDATE)
   ORDER BY
       st.store_idx ASC
  </select>
  
  <select id="getPopuppaginglist">
WITH RankedStores AS (
    SELECT
        st.store_idx,
        st.company_idx,
        st.title,
        st.age,
        st.brand1,
        st.brand2,
        st.cdate,
        st.status,
        st.ban,
        std.detail_idx,
        std.address,
        TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,
        TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
        std.homepage,
        std.sns,
        std.introduction,
        std.content,
        std.parking,
        std.fare,
        std.age_limit,
        std.shooting,
        std.igdate,
        std."LIKE",
        std.goods,
        img.is_idx,
        img.imagename,
        img.imageext,
        img.image_path,
        ROW_NUMBER() OVER (PARTITION BY st.store_idx ORDER BY st.store_idx ASC) AS rn
    FROM
        stores st
    JOIN stores_detail std ON st.store_idx = std.store_idx
    LEFT JOIN image_store img ON st.store_idx = img.store_idx
    WHERE 
        st.ban != 'Y' AND
        st.status = '승인' AND 
        TRUNC(std.start_date) &lt;= TRUNC(SYSDATE) AND 
        TRUNC(std.end_date) &gt;= TRUNC(SYSDATE)
)
SELECT *
FROM RankedStores
WHERE rn = 1
ORDER BY store_idx ASC
OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY
  </select>
  
  
  <!-- 검색 페이징 -->
  <select id="getOpendsearchcount">
  SELECT
       COUNT(*)  AS CNT

   FROM
       stores st JOIN stores_detail std ON st.store_idx = std.store_idx
   WHERE 1=1 
         AND st.ban!='Y' AND st.status='승인'
         AND TRUNC(std.start_date) &gt;= TRUNC(SYSDATE) AND TRUNC(std.end_date) &gt;= TRUNC(SYSDATE)
         <if test="search != null and search != ''">
           AND st.title LIKE '%' || #{search} || '%'
       </if>
         ORDER BY
             st.store_idx ASC
  </select>
  
  <!-- 오픈예정 -->
  <select id="getOpendsearchlist">
SELECT *
FROM (
    SELECT
        st.store_idx,
        st.company_idx,
        st.title,
        st.age,
        st.brand1,
        st.brand2,
        st.cdate,
        st.status,
        st.ban,
        std.detail_idx,
        std.address,
        TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,
        TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
        std.homepage,
        std.sns,
        std.introduction,
        std.content,
        std.parking,
        std.fare,
        std.age_limit,
        std.shooting,
        std.igdate,
        std."LIKE",
        std.goods,
        im.is_idx,
        im.imagename,
        im.imageext,
        im.image_path,
        ROW_NUMBER() OVER (PARTITION BY st.store_idx ORDER BY st.store_idx ASC) AS rn
    FROM
        stores st
    JOIN
        stores_detail std ON st.store_idx = std.store_idx
    LEFT JOIN
        image_store im ON st.store_idx = im.store_idx
    WHERE
        st.ban != 'Y'
        AND st.status = '승인'
        AND TRUNC(std.start_date) >= TRUNC(SYSDATE)
        AND TRUNC(std.end_date) >= TRUNC(SYSDATE)
        <if test="search != null and search != ''">
            AND st.title LIKE '%' || #{search} || '%'
        </if>
) subquery
WHERE rn = 1
ORDER BY store_idx ASC
OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY

  </select>
  
  
  <!-- Map에서 종료일 -->
    <select id="getPopupDate">
   SELECT
       st.store_idx, st.status,st.ban, TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
       std.igdate
   FROM
       stores st JOIN stores_detail std ON st.store_idx = std.store_idx
       
   WHERE st.ban!='Y' AND st.status='승인'
         AND std.start_date &lt; SYSDATE 
         AND std.end_date &gt; SYSDATE
   ORDER BY
       st.store_idx ASC
  </select>
  

   <update id="updateUserProfile" parameterType="com.board.users.dto.UsersDto">
       UPDATE users
       SET NAME = #{name},
        NICKNAME = #{nickname},
        EMAIL = #{email},
        PHONE = #{phone}
        WHERE user_idx = #{user_idx}
   </update>

   <delete id="deleteUser">
        DELETE FROM Users WHERE user_idx = #{user_idx}
    </delete>
    
    <select id="getUserById" parameterType="string">
        SELECT * FROM Users WHERE id = #{id}
    </select>

    <!-- MAP 리뷰 조회수 조회 -->
    <select id="getStoresHitAtMap">
        SELECT
            st.store_idx,
            st.title,
            TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,
            TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
            std.igdate,
            COALESCE(ims.IMAGE_PATH, '없음') AS image_path,
            COALESCE(h.hit_count, 0) AS hit_count,
            std.address,
            (SELECT COUNT(user_idx)
             FROM LIKE_STORES ls
             WHERE ls.store_idx = st.store_idx) AS like_count
        FROM
            stores st
                JOIN
            stores_detail std ON st.store_idx = std.store_idx
                LEFT JOIN (
                SELECT store_idx, MAX(IMAGE_PATH) AS IMAGE_PATH
                FROM image_store
                GROUP BY store_idx
            ) ims ON st.store_idx = ims.store_idx
                LEFT JOIN (
                SELECT store_idx, COUNT(*) AS hit_count
                FROM HIT
                GROUP BY store_idx
            ) h ON st.store_idx = h.store_idx
        WHERE
            (st.ban = 'N' OR st.ban = 'C')
          AND st.status = '승인'
          AND TRUNC(std.start_date) &lt;= TRUNC(SYSDATE)
          AND TRUNC(std.end_date) &gt;= TRUNC(SYSDATE)
        ORDER BY
            st.store_idx ASC
    </select>

    <select id="getStoresReviewAtMap">
        WITH RankedReviews AS (
            SELECT
                r.store_idx,
                r.review_idx,
                r.content,
                COUNT(rh.review_idx) AS review_hit_count,
                ROW_NUMBER() OVER (PARTITION BY r.store_idx ORDER BY COUNT(rh.review_idx) DESC) AS rn
            FROM
                REVIEWS r
                    LEFT JOIN
                REVIEW_HIT rh ON r.review_idx = rh.review_idx
            WHERE
                r.store_idx = #{store_idx}
            GROUP BY
                r.store_idx, r.review_idx, r.content
        )
        SELECT
            COALESCE(rr.content, '없음') AS content
        FROM
            RankedReviews rr
        WHERE
            rr.rn &lt;= 4
        ORDER BY
            rr.review_hit_count DESC
    </select>
  <!-- 조회수 조회 -->
  <select id="getStoreHit">
    SELECT STORE_IDX, COUNT(user_id) AS hit
   FROM HIT
   WHERE store_idx = #{store_idx}
   GROUP BY STORE_IDX
  </select>  
  
  <!-- 좋아요 조회 -->
  <select id="getStoreLike">
   SELECT store_idx, COUNT(store_idx) AS storelike
   FROM like_stores
   WHERE store_idx = #{store_idx}
   GROUP BY store_idx
  </select>
  
  <!-- 전체 리뷰 조회 -->
  <select id="gettotalreviews">
SELECT *
FROM (
    SELECT
        us.name,
        us.user_idx,
        re.review_idx,
        re.user_idx AS review_user_idx,
        re.store_idx,
        re.score,
        re.content,
        TO_CHAR(re.cdate, 'YYYY-MM-DD') AS review_date,
        COALESCE(rh.hit, 0) AS hit,  -- 조회 수가 없으면 0으로 반환
        ir.is_idx,
        ir.imagename,
        ir.imageext,
        ir.image_path,
        COUNT(lr.lr_idx) AS like_count,  -- LIKE_REVIEWS의 LR_IDX 개수 추가
        ROW_NUMBER() OVER (PARTITION BY re.review_idx ORDER BY re.cdate ASC) AS rn
    FROM
        reviews re
    JOIN 
        users us ON re.user_idx = us.user_idx
    LEFT JOIN (
        SELECT
            user_idx,
            review_idx,
            COUNT(review_idx) AS hit,
            store_idx
        FROM
            REVIEW_HIT
        GROUP BY
            user_idx, review_idx, store_idx
    ) rh ON re.user_idx = rh.user_idx AND re.review_idx = rh.review_idx AND re.store_idx = rh.store_idx
    LEFT JOIN image_review ir ON re.review_idx = ir.review_idx
    LEFT JOIN LIKE_REVIEWS lr ON re.review_idx = lr.review_idx  -- LIKE_REVIEWS 테이블 조인
    WHERE 
        re.store_idx = #{store_idx}
    GROUP BY
        us.name,
        us.user_idx,
        re.review_idx,
        re.user_idx,
        re.store_idx,
        re.score,
        re.content,
        re.cdate,
        rh.hit,
        ir.is_idx,
        ir.imagename,
        ir.imageext,
        ir.image_path
) 
WHERE rn = 1
OFFSET #{start} ROWS FETCH NEXT #{size} ROWS ONLY    
  </select>
  
  <!-- 전체 리뷰,평점 계산 -->
  <select id="getotalcount">
  SELECT
       count(review_idx) as review_idx,
       avg(score) as score,
       sum("LIKE") as "LIKE",
       sum(HIT) as hit
   FROM
       reviews
   WHERE
       store_idx = #{store_idx}
  </select>
  
  
    <!-- 핫리뷰 조회순(3개) -->
 <select id="getHotReviews">
SELECT
    sub.name, sub.user_idx, sub.review_idx, sub.store_idx, sub.score,
    sub.content, sub.review_date, sub.hit, sub.is_idx, sub.imagename,
    sub.imageext, sub.image_path,
    COALESCE(like_count.review_count, 0) AS review_count
FROM (
    SELECT
        us.name, us.user_idx,
        re.review_idx, re.store_idx, re.score, re.content,
        TO_CHAR(re.cdate, 'YYYY-MM-DD') AS review_date, COALESCE(rh.hit, 0) AS hit,
        ir.is_idx, ir.imagename, ir.imageext, ir.image_path,
        RANK() OVER (ORDER BY COALESCE(rh.hit, 0) DESC) AS rn
    FROM
        users us
    JOIN (
        SELECT *
        FROM (
            SELECT
                review_idx, user_idx,
                store_idx, score,
                content, "LIKE", hit, cdate
            FROM
                reviews
            WHERE
                store_idx = #{store_idx}
            ORDER BY
                hit DESC
        ) WHERE ROWNUM &lt;= 3
    ) re ON us.user_idx = re.user_idx
    LEFT JOIN (
        SELECT
            user_idx,
            review_idx,
            COUNT(review_idx) AS hit,
            store_idx
        FROM
            REVIEW_HIT
        GROUP BY
            user_idx, review_idx, store_idx
    ) rh ON re.user_idx = rh.user_idx AND re.review_idx = rh.review_idx AND re.store_idx = rh.store_idx
    LEFT JOIN image_review ir ON re.review_idx = ir.review_idx
) sub
LEFT JOIN (
    SELECT
        user_idx,
        COUNT(review_idx) AS review_count
    FROM
        like_reviews
    GROUP BY
        user_idx
) like_count ON sub.user_idx = like_count.user_idx
WHERE sub.rn &lt;= 3
ORDER BY sub.hit DESC
  </select>
  
  <!-- 리뷰 상세 페이지 -->
  <select id="getReviewDetail">
  SELECT
       us.name,
       us.user_idx,
       re.review_idx,
       re.user_idx,
       re.store_idx,
       re.score,
       re.content,
       TO_CHAR(re.cdate, 'YYYY-MM-DD') AS review_date,
       COALESCE(rh.hit, 0) AS hit  -- 조회 수가 없으면 0으로 반환
   FROM
       reviews re
   JOIN
       users us ON re.user_idx = us.user_idx
   LEFT JOIN
       (SELECT USER_IDX, REVIEW_IDX, COUNT(review_idx) AS hit
        FROM review_hit
        GROUP BY USER_IDX, REVIEW_IDX) rh ON re.user_idx = rh.user_idx AND re.review_idx = rh.review_idx
   WHERE
       re.store_idx = #{storeidx}
   AND
       us.user_idx = #{useridx}
   AND
       re.review_idx = #{review_idx}
   
   
  </select>
  
  <!-- 리뷰 이미지 불러오기 -->
  <select id="getReviewImgList">
  SELECT
       is_idx, imagename, imageext, image_path,
       review_idx, user_idx, store_idx
   FROM
       image_review
   WHERE store_idx=#{storeidx}
   AND user_idx = #{useridx}
   AND review_idx=#{review_idx}
  </select>
  

    <!-- 리뷰 작성 - store_idx로 스토어 디테일 데이터 불러오기 -->
  <select id="getStoredReviewtail">
  SELECT
       st.store_idx, st.company_idx, st.title, st.age, st.brand1, st.brand2,
       st.cdate, st.status, st.ban,
       std.detail_idx,std.store_idx, std.address, TO_CHAR(start_date,'YYYY-MM-DD') AS start_date, TO_CHAR(end_date,'YYYY-MM-DD') AS end_date, std.homepage, std.sns, std.introduction,
       std.content, std.parking, std.fare, std.age_limit, std.shooting, std."LIKE", std.goods, std.igdate
   FROM
       stores st JOIN stores_detail std ON st.store_idx = std.store_idx
   WHERE st.store_idx = #{storeidx}
  </select>
  
  <!-- 리뷰 작성 - 스토어 카데고리 -->
  <select id="getStoreReviewtag">
  SELECT 
       c.category_idx,c.category_name,c.category_id,
       sc.sc_idx,sc.store_idx,sc.category_id
   FROM
       category c JOIN stores_category sc ON c.category_id = sc.category_id
   WHERE sc.store_idx=#{storeidx}
  </select>
  
  <!-- 리뷰 작성 - 특정 스토어 전체 리뷰 평점등  -->
  <select id="getotalWriteCount">
SELECT
    hit_count.store_hit AS hit,
    like_count.store_like AS "LIKE"
FROM (
    SELECT
        COUNT(user_id) AS store_hit
    FROM
        hit
    WHERE
        store_idx = #{store_idx}
) hit_count
JOIN (
    SELECT
        COUNT(user_idx) AS store_like
    FROM
        like_stores
    WHERE
        store_idx = #{store_idx}
) like_count ON 1=1
  </select>


<!-- 코스 추천 스토어 정보 다가져오기 -->
<select id="getallStorelist">
   SELECT * FROM STORES
</select>

<!-- 코스 추천 스토어 상세정보 가져오기 -->
<select id="getAddressesByStoreIdx">
   SELECT * FROM STORES_DETAIL
</select>


 <!-- 내가 쓴 리뷰 개수 -->
 <select id="getMyTotalReview">
    SELECT
       COUNT(review_idx) AS review_idx
   FROM
       reviews
   WHERE user_idx=#{useruseridx}
 </select>
 
 <!-- 상세 페이지 이미지 -->
 <select id="getPopupImgList">
 SELECT is_idx,imagename, imageext, image_path,  store_idx
   FROM
       image_store
   WHERE store_idx = #{store_idx}
 </select>
 
 <!-- 팝콘 보유 갯수 -->
 <select id="getTotalPopcorn">
 SELECT
       user_id,
       total_points
   FROM
       popcorn_wallet
   WHERE user_id = #{username}
 </select>
 
 <!-- 리뷰작성 -->
 <insert id="insertReview">
 INSERT INTO reviews (review_idx, user_idx,store_idx, score, content) 
 VALUES (REVIEW_IDX_SEQ.NEXTVAL, #{user_idx}, #{store_idx}, #{score}, #{content})
 </insert>
 
 <!-- 리뷰 수정 -->
 <update id="updateReview">
 UPDATE reviews
   SET
       content=#{content},
       score=#{score}
   WHERE
           user_idx   = #{user_idx}
       AND store_idx  = #{store_idx}
       AND review_idx = #{review_idx} 
 </update>
 
 <!-- 리뷰 삭제 -->
 <delete id="deleteReview">
 DELETE FROM reviews
   WHERE
           review_idx = #{review_idx}
       AND user_idx   = #{useridx}
       AND store_idx  = #{storeidx}
 </delete>
 
 

<!-- 리뷰 조회수 증가 -->
<insert id="insertReviewHit">
INSERT INTO review_hit (STORE_IDX,USER_IDX,REVIEW_IDX,LOGIN_USERIDX) 
VALUES (#{storeidx},#{useridx},#{review_idx},#{loginidx})
</insert>

<!-- 전체 리뷰 조회 -->
<select id="getselectReviewHit">
SELECT
       store_idx,
       user_idx,
        review_idx
   FROM
       review_hit
   WHERE store_idx=#{storeidx}
   AND   user_idx = #{useridx}
    AND   review_idx=#{review_idx}
    AND   login_useridx=#{loginidx}
</select>

<!-- 모바일 핫리뷰 (조회순 기준 2개) -->
<select id="getMobileHotReviews">
SELECT *
FROM (
    SELECT
        us.name,
        us.user_idx,
        re.review_idx,
        re.store_idx,
        re.score,
        re.content,
        TO_CHAR(re.cdate, 'YYYY-MM-DD') AS review_date,
        COALESCE(rh.hit, 0) AS hit,
        ir.is_idx,
        ir.imagename,
        ir.imageext,
        ir.image_path,
        ROW_NUMBER() OVER (PARTITION BY us.user_idx ORDER BY COALESCE(rh.hit, 0) DESC) AS rn
    FROM
        users us
    JOIN (
        SELECT *
        FROM (
            SELECT
                review_idx, user_idx,
                store_idx, score,
                content, "LIKE", hit, cdate
            FROM
                reviews
            WHERE
                store_idx = #{store_idx}
            ORDER BY
                hit DESC
        )
        WHERE ROWNUM &lt;= 2
    ) re ON us.user_idx = re.user_idx
    LEFT JOIN (
        SELECT
            user_idx,
            review_idx,
            COUNT(review_idx) AS hit,
            store_idx
        FROM
            REVIEW_HIT
        GROUP BY
            user_idx, review_idx, store_idx
    ) rh ON re.user_idx = rh.user_idx AND re.review_idx = rh.review_idx AND re.store_idx = rh.store_idx
    LEFT JOIN image_review ir ON re.review_idx = ir.review_idx
) subquery
WHERE rn = 1
ORDER BY hit DESC
FETCH FIRST 2 ROWS ONLY
</select>

<!-- 상세페이지 전체 리뷰 페이징용 -->
<select id="gettotalPosts">
SELECT
    NVL(COUNT(r.review_idx), 0) AS review_count
FROM
    (SELECT #{store_idx} AS store_idx FROM dual) s
LEFT JOIN
    reviews r ON s.store_idx = r.store_idx
GROUP BY
    s.store_idx
</select>

<!-- 리뷰 이미지  가져 오기  -->
<select id="getImageReview">
SELECT IMAGE_PATH, IMAGENAME,IS_IDX
FROM IMAGE_REVIEW
WHERE REVIEW_IDX = #{review_idx}
</select>

<select id="getImageReviewus">
SELECT REVIEW_IDX, USER_IDX, STORE_IDX
FROM REVIEWS
WHERE REVIEW_IDX = #{review_idx}
</select>

<!-- 원호님  합본파트-->
<select id="getID">
SELECT ID
FROM USERS
WHERE USER_IDX =#{user_idx}
</select>
<!-- 자역 정보 가져오기-->
<select id="getallRegionlist">
   SELECT * FROM REGION
</select>

<select id="getAddressesByStoreIdxOne">
SELECT ADDRESS
FROM STORES_DETAIL
WHERE  STORE_IDX = #{STORE_IDX}
</select>

</mapper>
